<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot Thymeleaf Hello World Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

</head>
<body>

	<div class="container">
		<div class="starter-template">
			<h1>To-Do List</h1>			
		</div>
	</div>

	<div th:if="${items.itemLists != null}">
		<h1>Result</h1>
		<ul>
			<th:block th:object="${items}">
				<li th:each="item : *{itemLists}" th:text="${item.name}">Item description
					here...</li>
			</th:block>
		</ul>
	</div>

	<table class="glyphicon glyphicon-calendar">
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Check</th>
		</tr>
		<tr th:each="item : *{itemLists}" th:class="${item.complete}? active : warning" >
		<td th:field="$item"></td>
                <input type="hidden" th:field="*{itemLists[__${i.index}__].id}"/>
                <td th:text="${item.name}">Item_name</td><input type="hidden" th:field="*{itemLists[__${i.index}__].name}"/>
                <td><input type="checkbox" th:checked="${item.complete} == true" th:field="*{itemLists[__${i.index}__].complete}"/></td>
            </tr>
	</table>
	
	<hr/>
	
	<form action="#" th:action="@{/add}" th:object="${newitem}" method="post">
        <p>Task name: <input type="text" th:field="*{name}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
	<!-- /.container -->

	<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
